<div class="container">

  <h1 appTwenty class="al">Nueva Inscripcion</h1>
  <mat-card class="mt-4">
    <form [formGroup]="form">

      <mat-grid-list cols="4" rowHeight="70px">

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">

            <mat-label>Estudiante</mat-label>
            <mat-select formControlName="idEstudiante">
              <mat-option *ngFor="let alumno of datosAlumnos$ | async" [value]="alumno.idEstudiante">
                {{alumno.idEstudiante | nombreEstudiante}}
              </mat-option>
            </mat-select>

          </mat-form-field>


        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="5">
          <img width="250" height="250" src="" alt="logo de usuario">
        </mat-grid-tile>


        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Cursos</mat-label>
            <mat-select formControlName="idCurso">
              <mat-option *ngFor="let curso of datosCursos$ | async" [value]="curso.idCurso">{{curso.cursoNombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <button class=" mx-4" mat-raised-button color="warn" (click)="volver()">Volver</button>
          <button type="submit" [disabled]="form.invalid" (click)="guardar()" class=" mx-4" mat-raised-button
            color="primary">Aceptar</button>
        </mat-grid-tile>

      </mat-grid-list>

    </form>
  </mat-card>
</div>
