<div class=" body d-flex align-items-center justify-content-center h-100">
  <mat-spinner *ngIf="loading" diameter="50" class="spinner"></mat-spinner>
  <div class="login">
    <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()">
      <img src="./assets/img/usuario.png" alt="">
      <h1 color="primary" class="tit" appTwenty>Login</h1>
      <mat-form-field appearance="fill">
        <mat-label>Usuario:</mat-label>
        <input matInput type="text" formControlName="usuario">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Contraseña:</mat-label>
        <input matInput type="password" formControlName="contraseña">
      </mat-form-field>
      <br>
      <button type="submit" mat-raised-button class="ancho" color="primary" [disabled]="form.invalid">Login</button>
    </form>
  </div>
</div>