<h1 appTwenty class="al">Detalle de Inscripcion</h1>
<div class="container-fluid d-flex justify-content-center ">
      <div class="card mx-4" role="list">
        <h5 class="card-header" role="listitem">{{form.value.idInscripcion }}</h5>
        <div class="card-body">
          <p class="card-text" role="listitem">Nombre: {{form.value.idEstudiante | nombreEstudiante}}</p>
          <p class="card-text" role="listitem">
            <mat-list-item role="listitem">Curso: {{form.value.idCurso | nombreCurso }}</mat-list-item>
          </p>
          <a (click)="cerrar()" class="btn btn-primary">Cerrar</a>
        </div>
      </div>
      <div class="h-100 ">
        <img src="" alt="">
      </div>
  </div>
