<h1 mat-dialog-title>Editar Usuario</h1>
<h3 mat-dialog-title>ID Usuario: {{ data.idUsuario }}</h3>
<div mat-dialog-content align="center">
  <mat-form-field appearance="fill">
    <mat-label>Usuario</mat-label>
    <input
      matInput
      #input
      class="form-control"
      placeholder="Usuario"
      [(ngModel)]="data.usuario"
      name="usuario"
      required
    />
    <mat-error *ngIf="formControl.invalid">{{ getError() }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Contraseña</mat-label>
    <input
      matInput
      #input
      class="form-control"
      placeholder="Contrasena"
      [(ngModel)]="data.contrasena"
      name="contrasena"
      required
    />
    <mat-error *ngIf="formControl.invalid">{{ getError() }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Rol</mat-label>
    <input
      matInput
      #input
      class="form-control"
      placeholder="Rol"
      [(ngModel)]="data.rol"
      name="rol"
      required
    />
    <mat-error *ngIf="formControl.invalid">{{ getError() }}</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>
    Modificar
  </button>
</div>
