<div class="container bg-div">
  <span appTwenty class="rol">Bienvenido {{datosUsuario}}!</span>
  <h1 class="al">Inscripciones</h1>

  <div class="example-spacer"></div>
  <span class="example-spacer"></span>

  <button class="agregar" mat-raised-button color="primary" routerLink="/dashboard/crear-inscripcion">+Nueva Inscripcion
  </button>

  <div>
    <mat-form-field class="al">
      <mat-label class="al">Filtrar</mat-label>
      <input matInput class="text-white" placeholder="Ex. ium" #input autocomplete="off">
    </mat-form-field>

    <div class="mat-elevation-z12 mt-8">
      <table mat-table [dataSource]="listaInscripciones">

        <ng-container matColumnDef="idInscripcion">
          <th mat-header-cell *matHeaderCellDef class="fs-5"> id </th>
          <td mat-cell *matCellDef="let element"> {{element.idInscripcion}} </td>
        </ng-container>

        <ng-container matColumnDef="idEstudiante">
          <th mat-header-cell *matHeaderCellDef class="fs-5"> Alumno </th>
          <td mat-cell *matCellDef="let element"> {{element.idEstudiante | nombreEstudiante }}</td>
        </ng-container>

        <ng-container matColumnDef="idCurso">
          <th mat-header-cell *matHeaderCellDef class="fs-5 tab"> Curso </th>
          <td mat-cell *matCellDef="let element"> {{element.idCurso | nombreCurso }} </td>
        </ng-container>
        <ng-container matColumnDef="acciones" class="acciones" width="25%">

          <th mat-header-cell *matHeaderCellDef class="fs-5 tab" style="text-align: right">
            Acciones </th>
          <td mat-cell *matCellDef="let element ; let i = index" style="text-align: right">



            <a class="pointer mx-3" matTooltip="Ver Detalle" (click)="openDialog2(element)" style="color: #18b031">
              <mat-icon>search</mat-icon>
            </a>
            <a *ngIf="authService.isAdmin" class="pointer mx-3" (click)="openDialog(element)" matTooltip="Editar Datos" style="color: #1c89c9">
              <mat-icon>edit</mat-icon>
            </a>
            <a *ngIf="authService.isAdmin" class="pointer mx-3" (click)="deleteInscripcion(element.idInscripcion)" matTooltip="Eliminar Alumno"
              style="color: rgb(170, 24, 24)">
              <mat-icon>delete</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
      </mat-paginator>

    </div>

  </div>
</div>
